[Unit]
Description=Grafana OSS

[Container]
Image=docker.io/grafana/grafana-oss:12.1.0
PublishPort=192.168.0.1:3000:3000
Volume=grafana-data.volume:/var/lib/grafana

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
