[Unit]
Description=Prometheus exporter for podman

[Container]
Image=quay.io/navidys/prometheus-podman-exporter:v1.21.2
Exec=--web.disable-exporter-metrics
PublishPort=192.168.0.1:9882:9882
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Volume=%t/podman/podman.sock:/run/podman/podman.sock
UserNS=keep-id:uid=65534

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
