server:
{% for interface in unbound_interfaces %}
    interface: {{ interface }}
{% endfor %}

{% for rule in unbound_access_control %}
    access-control: {{ rule }}
{% endfor %}

    root-hints: "/usr/share/dns/root.hints"
    auto-trust-anchor-file: "/var/lib/unbound/root.key"

    qname-minimisation: yes
    verbosity: {{ unbound_verbosity }}

{% if unbound_extended_statistics %}
    extended-statistics: yes
{% endif %}

{% for zone in unbound_local_zones %}
    local-zone: "{{ zone.name }}" {{ zone.type }} 
{% for record in zone.records %}
    local-data: "{{ record.name }}.{{ zone.name}} IN {{ record.type }} {{ record.value }}"
{% endfor %}
{% endfor %}

{% if unbound_remote_control %}
remote-control:
    control-enable: yes
    control-interface: /run/unbound.ctl
{% endif %}

{% for zone in unbound_forward_zones %}
forward-zone:
    name: "{{ zone.name }}"
{% for address in zone.forward_addresses %}
    forward-addr: {{ address }}
{% endfor %}
{% endfor %}
